# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.nbconvert/

# Data
data/raw/
data/raw/**/*

# Streamlit
*.streamlit/

# Conda
*.env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
